
body{
    background: url(../images/hunterbg.jpg);
    background-attachment: fixed;
    color: #fff;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
}

blockquote{
    background-color: rgba(0,0,0,0.75);
    display:block;
    align-self: center;
    justify-content: center;
}