html{
    background-image: url(../images/thehunterbg.jpg);
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
}

body{
    background-color:rgba(0,0,0,0.5);
    color: #fff;
}